<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src='js/Templating.js'></script>
</head>
<body>
	
	<script src='js/main.js'></script>
	
	<div class="result">
		<script type='text/html' id='modal'>

			<div class="modalBlock">
				<h1>
					<%= data[0].header  %>
				</h1>
				<p> <%= data[0].text  %> </p>
				<ol>
					<li> <%= data[0].firstquest  %> </li>
					<li> <%= data[0].secondquest  %> </li>
					<li> <%= data[0].thirdquest  %> </li>
				</ol>
			</div>

		</script>
	</div>
</body>
</html>